<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Cek Username dengan jQuery Ajax dan PHP</title>
	<style>
		body{
			background: #333;
			font-size: 16px;
		}
		.container{
			max-width: 500px;
			background: #DEF482;
			padding: 20px;
			margin: 10px auto;
		}
		label{
			display: inline-block;
			width: 100px;
		}
	</style>
	

	<script src="<?php echo base_url();?>assets/dt/media/js/jquery.js"></script>
	<script>
	var c jQuery.NoConflict();
	c(document).ready(function(){
		c('#username').blur(function(){
			c('#pesan').html('<img style="margin-left:10px; width:10px" src="loading.gif">');
			var username = c(this).val();

			c.ajax({
				type	: 'POST',
				url 	: 'proses.php',
				data 	: 'username='+username,
				success	: function(data){
					c('#pesan').html(data);
				}
			})

		});
	});
	</script>

</head>
<body>
	
	<div class="container">

		<div class="jwForm registrasi">
			<h1>Registrasi User Baru</h1>
			<p>
				<label for="username">Username</label> 
				<input type="text" id="username">
				<span id="pesan"></span>
			</p>
			<p>
				<label for="password">Password</label>
				<input type="password" name="password" id="password">
			</p>
			<p>
				<label for="password">Full Name</label>
				<input type="text" id="fullname">
			</p>
			<p>
				<label for="phone">Phone</label>
				<input type="phone" id="phone">
			</p>
			<p>
				<input type="submit" value="Daftarkan">
			</p>
		</div>

		<div class="note">Baca tutorial selengkapnya di <a href="http://www.jurnalweb.com/mengecek-ketersediaan-username-dengan-ajax-jquery-php-mysql">Jurnalweb.com</a></div>

	</div>
<a href="<?php echo base_url();?>assets/dt/media/js/jquery.js"> TES </a>
</body>
</html>